.container {
	margin-top: 15px;
	margin-left: 150px;
	margin-right: 150px;

	padding: 10px 150px 10px 150px;

	border-radius: 10px;
	background-color: LightGrey;

	text-align: left;
}

.header {
	text-align: center;
}

.date-range {
	font-syle: italic;
	float: right;
	font-variant: small-caps;
}

h1.header {
	text-shadow: 0 0 12px black;
}
